body {
    background-color: var(--c-background-color)
    }

header {
    background-color: var(--c-background-highlights);
    color: var(--c-yellow);
    text-align: center;
    size: 150%
}

footer {
    background-color: var(--c-background-highlights);
    color: var(--base-font-color)
}

main {
    color: var(--base-font-color);
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

article a {
    color: var(--c-magenta);
    flex: 1;
}

article a:hover {
    color: var(--c-orange)
}

.subsection {
    border: 3px solid var(--c-cyan);
}

nav {
  width: 100%;
  padding: 0.5rem 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
}

nav ul li a {
  color: blue;
}

nav form {
  margin-top: 0.5rem;
  text-align: left;
}

aside {
    color: var(--c-green);
    width: 300px;
}

aside a {
    color: var(--c-red)
}

aside a:hover {
    color: var(--c-blue)
}

.container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

article h2,
article h3 {
    padding-top: 50px;
}